/* Change the last section in the css file that makes responsive problems */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
  
  margin: 0;
  padding: 0%;
  background-color: rgb(8,13,14);
  font-family: 'Nunito', sans-serif;
  color: white;
}
@font-face{
  font-family: 'Autography';
  src: url(./Attachments/Autography.otf);
}
.CONTAINER-Top-Part{
  background-image: url(./Attachments/Top-part-bkg1.png);
  height: 100vh;
  /* height: 70vh; */
  /* for mobile view */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}

.comp-name{
  /* position: absolute; */
  /* padding-top: 1px; */
  margin-left: -2vw;
  font-size: 3.5vw;
  font-weight: 700;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(8,12,14);

  color: rgba(255, 255, 255, 0.801);

}
.Second-row-top{
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 230, 230, 0);
  padding-top: 10vh;
}

.contactus{
  
  padding-top: 15vh;
  padding-left: .5vw;
  background-color: rgba(255, 255, 255, 0);
}

.contactus-p{
  
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  background-color: rgb(117, 116, 117);
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-radius: 1vw;
  font-size: 3vw;
 
}
.logo-and-tagline{
  padding-left: 28vw;
  background-color: rgba(255, 255, 255, 0);
}
.logo-and-tagline img{
  background-color: rgba(255, 255, 255, 0);
  height: 26vw;
  padding-left: 3vw;
  

}
.tagline{
  background-color: rgba(8, 12, 14, 0);
  text-align: center;
  /* background: -webkit-linear-gradient(rgb(68, 66, 165), rgb(218, 69, 106));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 4vw;
  font-family: 'Autography';
}
.contactus-p-mob{
  display: none;
  background-color: rgba(0, 0, 0, 0);

}
.Socials-part{
  padding-left: 25vw;
  padding-top: 18vh;
  background-color: rgba(0, 0, 0, 0);
}

li{
  padding-bottom: 3vw;

}
ul {
  background-color: rgba(0, 0, 0, 0);
}
ul a img{
  background-color: rgba(0, 0, 0, 0);

}
ul a {
  background-color: rgba(0, 0, 0, 0);
}
.Socials-part-mob{
  display: none;
}


@media(max-width: 800px){
  .comp-name{
    /* position: absolute; */
    /* padding-top: 1px; */
    padding-left: 0vw;
    font-size: 7.5vw;
    margin-left: -2vw;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(245, 245, 245, 0);
    color: rgba(255, 255, 255, 0.801);
  
  }
  .logo-and-tagline{
    margin-left: 12%;
    margin-right: 0%;
    padding-left: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
  }

  .logo-and-tagline img{
    background-color: rgba(255, 255, 255, 0);
    height: 35vh;
    padding-left: 0vw;
    align-items: center;
    
  
  }

  .tagline{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    /* background: -webkit-linear-gradient(rgb(68, 66, 165), rgb(218, 69, 106));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 7vw;
    padding-top: 2vh;
    font-family: 'Autography';
  }
  
  .CONTAINER-Top-Part{
    background-image: url(./Attachments/Top-part-bkg1.png);
    height: 100vh;
    /* width: 100vw; */
    /* height: 70vh; */
    /* for mobile view */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
  }
  
  .contactus-p{
    font-size: 6vw;
    display: none;
    background-color: rgba(0, 0, 0, 0);

  }
  
.contactus-p-mob{
  display: block;
  text-align: center;
  font-size: 5vw;
  padding: 1vw;
  margin-left: 15vw;
  margin-right: 15vw;
  border-radius: 2vh;
  background-color: grey;
}
  .Socials-part{
    padding-left: 5vw;
    padding-top: 12vh;
    background-color: rgba(255, 255, 255, 0);
    display: none;
  }
  .Socials-part-mob{
  display: block;
  padding-top: 10vh;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  margin-left: 12%;
  margin-right: 9%;
  }
  
  .socials-icon-mob{
    /* display: flex;
    flex-direction: row; */
    /* align-items: center; */
    display: inline-block;
    width: 100%;
    text-decoration: none;
    background-color: rgba(255, 222, 173, 0);
  }
  .Socials-part-mob img{
    height: 5vh;
    padding: .5vh;
    text-align: center;
    text-decoration: none;
    background-color: rgba(255, 222, 173, 0);
    /* align-items: center; */
  }


}


.Gallery{
  height: 130vh;
  background-color: rgb(5,6,8);
  color: white;
/*   
  animation-name: bounceInDown;
  animation-duration: 4s;
  animation-iteration-count: 1; */
}
.Gal-head{
  text-align: center;
  font-size: 4vw;
  background-color:rgb(5,6,8);
  padding-top: 7.5vh;

  animation-name: bounce;
  animation-iteration-count: 20;
  -webkit-animation-duration: 2s;
            animation-duration: 2s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 

  


}

.gallery-1-row{
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 230, 230, 0);
  padding-left: 2vw;
  padding-top: 3vh;
}

.gallery-1-row img{
  width: 30vw;
  height: 40vh;
  padding: 1vh .5vw .5vh .5vw;
  object-fit: cover;
}
.gallery-2-row{
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 230, 230, 0);
  padding-left: 15vw;
  padding-top: 0.5vh;
}

.gallery-2-row img{
  width: 30vw;
  height: 40vh;
  object-fit: cover;
}

/* mobile view for the gallery section */

@media(max-width:800px){
.Gal-head{
  text-align: center;
  font-size: 7vw;
  background-color: rgb(5,6,8);
  padding-top: 0vh;

}
.gallery-1-row img{
  width: 30vw;
  height: 40vh;
  padding: 1vh .5vw .25vh .5vw;
  object-fit: cover;
}
.gallery-2-row{
  display: flex;
  flex-direction: row;
  background-color: rgb(5,6,8);
  padding-left: 15vw;
  padding-top: 0vh;
}

.Gallery{
  height: 110vh;
  background-color: rgb(5,6,8);
  color: white;
}

}

.CONTAINER-ABT-us {
  height: 100vh;
  background-image:linear-gradient(to bottom, rgb(5,6,8), rgba(0, 0, 0, 0.171), rgb(5,6,8)), url(./Attachments/MIC.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.abt-head{
  text-align: center;
  font-size: 5vw;
  background-color: rgba(245, 245, 245, 0);
  padding-bottom: 7vh;
}

.ABT-us-big-text{
  margin-right: 10vw;
  margin-left: 10vw;
  padding: 3vh 2vw 3vh 2vw;
  color: white;
  font-size: 1.5vw;
  background-color: rgba(245, 245, 245, 0.199);
  backdrop-filter: blur(.85vh);
  border-radius: 5vh;
  text-align: left;
  height: 70vh;
  overflow-y: hidden;
  /* overflow-y: scroll; */

}
@media(max-width: 800px){
  .abt-head{
    text-align: center;
    font-size: 7.5vw;
    background-color: rgba(245, 245, 245, 0);
    padding-bottom: 3vh;
  }

  .CONTAINER-ABT-us {
    height: 100vh;
    background-image:linear-gradient(to bottom,  rgb(5,6,8), rgba(0, 0, 0, 0.171),  rgb(5,6,8)), url(./Attachments/MIC.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  .ABT-us-big-text{
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 3vh 2vw 3vh 2vw;
    color: white;
    font-size: 4vw;
    background-color: rgba(245, 245, 245, 0.199);
    backdrop-filter: blur(.85vh);
    border-radius: 2vh;
    text-align: left;
    height: 70vh;
    overflow-y: scroll;
    
  }


}

/* 
img {
  display: block;
  margin: 0 auto;
} */







.CONTAINER-ABT-US-PARTii{
  
  height: 90vh;
  background-color: rgb(8, 13, 14);
  color: white;


}

.MTT{
  background-color: rgb(8, 13, 14);
}

.SUB_BRANDS_HEAD{
text-align: center;
font-size: 5vw;
padding-top: 5vh;

}

.ABT-us-2-subbrands{
  display: flex;
  flex-direction: row;
  padding-left: 3vw;

}
.sub-logo{
  padding-left: 9vw;
}
.sub-logo img{
  height: 10vw;
  padding-bottom: 4vh;
  
   
  display: block;
  margin: 0 auto;

  text-align: center;
}
.sub-logo-2{
  padding-left: 9vw;



}
.sub-logo-2 img{
  
  height: 10vw;
  padding-bottom: 4vh;
   
  display: block;
  margin: 0 auto;

  padding-left: 5vw;
  text-align: center;
}
.removing-underline{
  text-decoration: none;
}

.sub-logo-intro{
  padding: 2vh 0vw 2vh 2vw;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.123);
  width: 22vw;
  /* height: 25vh; */
  margin-left: 3vw;
  margin-right: 2vw;
  border-radius: 3vh;
  color: white;
}
.sub-logo-intro-two{
  padding: 2vh 0vw 2vh 2vw;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.123);
  width: 22vw;
  /* height: 25vh; */
  margin-left: 8vw;
  margin-right: 2vw;
  border-radius: 3vh;
  color: white;
}
.cont-sub-log{
  padding-left: 1vw;
}

@media(max-width: 800px){


  .CONTAINER-ABT-US-PARTii{
    height: 150vh;
  }

  .SUB_BRANDS_HEAD{
    text-align: center;
    font-size: 5vh;
    padding-top: 5vh;
    padding-bottom: 2.5vh;
    
    }

  .ABT-us-2-subbrands{
    display: flex;
    flex-direction: column;
    padding-left: 0vw;
  }

  .sub-logo img{
    height: 22vh;
    padding-bottom: 4vh;
    padding-left: 0vw;
    display: block;
    margin: 0 auto;
    margin-left: 20vw;
  
    text-align: center;
  }

  .sub-logo-2 img{
    
    height: 22vh;
    padding-bottom: 4vh;
    padding-left: 0vw;
    padding-top: 5vh;
    text-align: center;
    margin-left: 5vw;
  }

  .sub-logo-intro{
    padding: 3.5vh 2vw 3.5vh 2vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.123);
    width: 70vw;
    /* height: 25vh; */
    margin-left: 3vw;
    margin-right: 12vw;
    border-radius: 3vw;
    color: white;
  }

  
  .sub-logo-intro-two{
    padding: 3.5vh 2vw 3.5vh 2vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.123);
    width: 70vw;
    /* height: 25vh; */
    margin-left: 3vw;
    margin-right: 12vw;
    border-radius: 3vw;
    color: white;
  }




}



/* This is where the top part of GALLERY.js section of the gallery */

.Gal-top-big-thing{
  text-align: center;
  padding: 5vh;
  font-size: 7vh;
  letter-spacing: 20px;

}
@media(max-width:800px){
 
.Gal-top-big-thing{
  text-align: center;
  padding: 5vh;
  font-size: 5vh;
  letter-spacing: 20px;

} 
}

.BACK-Button{
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  color: blueviolet;
  padding: 1vw;
}

/* This is where the top part of GALLERY.js section of the gallery ends here!*/

/* This is where the services section of the main page exists */

.Services-Offered{
  background-color:  rgb(5,6,8);
}


.Super-services{
  display: flex;
  flex-direction: row;
}

.services-one{
  padding-left: 5vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}
.ourservices{
  font-size: 5vw;
  text-align: center;
  padding: 4vw 1vw 1vw 1vw;

}

.GD{
  height: 15vh;
}
.PR{
  height: 15vh;
}
.services-one-head{
  font-size: 2.5vw;
  width: 25vw;
  text-align: center;

}
.services-one-content{
  width: 25vw;
}

.services-two{
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 5vh;
}

.services-three{
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
}
.Super-services-2{
  display: flex;
  flex-direction: row;
}





@media(max-width: 800px){
  .Super-services{
    display: flex;
    flex-direction: column;
  }
  .Super-services-2{
    flex-direction: column;
  }
  .ourservices{
    font-size: 5vh;
    text-align: center;
    padding: 1vw;
  
  }

  .services-one{
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
  }

  .services-two{
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
  }

  
  .services-three{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
  }

  .services-one-head{
    font-size: 4vh;
    width: 45vw;
    text-align: left;
  }

  
.services-one-content{
  width: 80vw;
}



}


/* This is where the services section of the main page exists */




/* Meet the team section */

.Collapsible__contentOuter{
  margin-top: 3vh;
}
.Collapsible__contentInner{
  display: flex;
  padding-left: 37vw;
  background-color: rgb(8, 13, 14);
}
.Collapsible__trigger{
  margin-top: 20vh;
  background-color: #7c7376;
  font-weight: 500;
  box-shadow: 3px 5px rgb(41, 40, 40);
  padding: 1vh;
  padding-left: 1vh;
  padding-right: -1.5vh;
  font-size: 2em;
  margin-left: 41vw;
  border-radius: 15px;
  width: 20%;
  cursor: pointer;
}
.director-tt{
  padding: 4vh;
  /* box-shadow: 3px 3px rgb(41, 40, 40); */
  font-size: 1em;
}
.Collapsible__trigger:hover{
  background-color: #ff9dba;

}

.logoSand{
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
}

.Socials-part img{
  width: 5vh;
  padding-bottom: 2vh;
  background-color: none;
  /* border-radius: 1.6vh; */

}

@media (max-width: 800px){
  .Collapsible__contentInner{
    display: flex;
    flex-direction: column;
    padding-left: 27vw;
  }

  .Collapsible__trigger{
    margin-top: 20vh;
    background-color: #f85888;
    font-weight: 500;
    box-shadow: 3px 5px rgb(41, 40, 40);
    padding: 1vh;
    padding-right: -1.5vh;
    font-size: 1em;
    justify-content: space-around;
    border-radius: 15px;
    margin-left: 32vw;
    margin-right:0vh;
    width: 20%;
    cursor: pointer;
  }
}























/*--------------------------------------------------Animations--------------------------------------------------*/













@-webkit-keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
  40% {-webkit-transform: translateY(-30px);} 
  60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
}

.bounce { 
  -webkit-animation-name: bounce; 
  animation-name: bounce; 
}










@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

}


@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}


@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
