@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
*{
  
  margin: 0;
  padding: 0%;
  background-color: black;
  font-family: 'Nunito', sans-serif;
  color: white;
}
@font-face{
  font-family: 'Autography';
  src: url(./Attachments/Autography.otf);
}
.CONTAINER-Top-Part{
  background-image: url(./Attachments/Top-part-bkg1.png);
  height: 100vh;
  /* height: 70vh; */
  /* for mobile view */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}


.comp-name{
  /* position: absolute; */
  /* padding-top: 1px; */
  padding-left: 1vw;
  font-size: 5vw;
  font-family: 'Nunito', sans-serif;
  background-color: rgba(245, 245, 245, 0);
  color: rgba(255, 255, 255, 0.801);

}
.Second-row-top{
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 230, 230, 0);
  padding-top: 10vh;
}

.contactus{
  
  padding-top: 10vh;
  padding-left: .5vw;
  background-color: rgba(255, 255, 255, 0);
}

.contactus-p{
  
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  background-color: rgba(255, 255, 255, 0);
  font-size: 3vw;
 
}
.logo-and-tagline{
  padding-left: 31vw;
  background-color: rgba(255, 255, 255, 0);
}
.logo-and-tagline img{
  background-color: rgba(255, 255, 255, 0);
  height: 26vw;
  

}
.tagline{
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  /* background: -webkit-linear-gradient(rgb(68, 66, 165), rgb(218, 69, 106));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 4vw;
  font-family: 'Autography';
}
.Socials-part{
  padding-left: 33vw;
  padding-top: 12vh;
  background-color: rgba(255, 255, 255, 0);
}

li{
  padding-bottom: 3vw;

}

.Gallery{
  height: 130vh;
  background-color: black;
  color: white;
}
.Gal-head{
  text-align: center;
  font-size: 5vw;
  background-color: rgba(245, 245, 245, 0);


}

.gallery-1-row{
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 230, 230, 0);
  padding-left: 2vw;
  padding-top: 3vh;
}

.gallery-1-row img{
  width: 30vw;
  height: 40vh;
  padding: 1vh .5vw 1vh .5vw;
  object-fit: cover;
}
.gallery-2-row{
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 230, 230, 0);
  padding-left: 15vw;
  padding-top: 1vh;
}

.gallery-2-row img{
  width: 30vw;
  object-fit: cover;
}

.CONTAINER-ABT-us {
  height: 100vh;
  background-image:linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.171), rgb(0, 0, 0)), url(./Attachments/MIC.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.abt-head{
  text-align: center;
  font-size: 5vw;
  background-color: rgba(245, 245, 245, 0);
  padding-bottom: 10vh;
}

.ABT-us-big-text{
  margin-right: 10vw;
  margin-left: 10vw;
  padding: 3vh 2vw 3vh 2vw;
  color: white;
  font-size: 2.5vw;
  background-color: rgba(245, 245, 245, 0.199);
  backdrop-filter: blur(.85vh);
  border-radius: 5vh;
  text-align: left;

}

.CONTAINER-ABT-US-PARTii{
  
  height: 100vh;
  background-color: black;
  color: white;


}
.ABT-us-2-subbrands{
  display: flex;
  flex-direction: row;

}
.sub-logo{
  padding-left: 9vw;
}
.sub-logo img{
  height: 30vh;
  padding-bottom: 4vh;
  padding-left: 9vw;
  text-align: center;
}
.sub-logo-intro{
  padding: 2vh 0vw 2vh 2vw;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.123);
  width: 22vw;
  /* height: 25vh; */
  margin-left: 3vw;
  margin-right: 2vw;
  border-radius: 3vh;
  color: white;
}
.sub-logo-intro-two{
  padding: 2vh 0vw 2vh 2vw;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.123);
  width: 22vw;
  /* height: 25vh; */
  margin-left: 8vw;
  margin-right: 2vw;
  border-radius: 3vh;
  color: white;
}
.cont-sub-log{
  padding-left: 1vw;
}